<h1>Hello ReqRes users!</h1>

<div class="row">
    <div class="column">
        <p><strong>George</strong></p>
<h5>george.blush@gmail.com</h5>
    <img [src]=myimage1 width="250" height="200">
    </div>
    <div class="column">
        <p><strong>Charles</strong></p>
        <h5>Charles.holt@gmail.com</h5>
    <img [src]=myimage2 width="250" height="200" style="float:middle;margin-right:5px">
      </div>
      
      <div class="column">
        <p><strong>Eve</strong></p>
        <h5>Eve.ramos@gmail.com</h5>
         <img [src]=myimage3 width="250" height="200" style="float:left">
          </div>
</div>
<div class="row">
<div class ="column">
    <p class="ex1"><strong>Andrew</strong></p>
    <h5 class="ex1">Andrew.ramos@gmail.com</h5>
     <img [src]=myimage4 width="250" height="200" style="float:center;margin-left:250px;">
</div>
<div class ="column">
    <p><strong>Brain</strong></p>
    <h5>Brain.klaus@gmail.com</h5>
     <img [src]=myimage5 width="250" height="200" style="float:center;margin-right:5px">
</div>
</div>




    

    
          
       
       